<ng-container >
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Empresa</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container >
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>