.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Ajusta la altura según tus necesidades */
    font-size: 1.2em;
    font-weight: bold;
    color: #777;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 20px;
  }